/* fonts */
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared CSS */
.secondary-bgcolor {
    border-radius: 10px;
    background: rgb(255, 248, 243);
}

.orange {
    color: rgb(253, 110, 10);
}

.dark-2 {
    color: rgb(71, 71, 71);
}

.btn {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 700;
}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.section-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

/* header styles */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
}

/* banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner_content {
    max-width: 585px;
}

.banner-greet {
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    text-align: left;
}

.banner-title {
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    text-align: left;
}

.banner-pic {}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-title {
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.font-description {
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

/* Cards Style */
.cards {
    margin-top: 120px;
    display: flex;
    gap: 24px;
    justify-content: space-evenly;

}

.card {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

/* resume styles */
.resume-container {
    display: flex;
    gap: 24px;
    text-align: left;
}

.colum-title {
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
}

.experience-title {
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
}

.experience-subtitle {
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
}

.experience-description {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
}

.resume-btn {
    text-align: center;
    margin-top: 30px;
}

.resume hr {
    margin: 30px 5px;
}

/* footer styles */
footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

footer input[type="email"],
input[type="text"],
textarea {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    height: 64px;
    width: 461px;
    border: none;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
}